body {
    background-color: #222;
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  h3 {
    text-align: justify;
    font-size: 10px;
    margin-bottom: 1px;
  }
  
  #characterSelection {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .characterCard {
    width: 200px;
    height: 300px;
    margin: 10px;
    background-color: #444;
    border: 4px solid #666;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .characterCard:hover {
    transform: scale(1.05);
  }
  
  .characterCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .characterCard h3 {
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
  }
  
  .characterCard.selected {
    border-color: #ff0000;
    box-shadow: 0 0 10px #ff0000;
  }
  